ZBX_HOSTNAME={{ inventory_hostname }}
ZBX_SERVER_HOST={{ ZABBIX_SERVER_HOST }}
ZBX_STARTDISCOVERERS=3
ZBX_TIMEOUT=30
ZBX_IPMIPOLLERS=3
ZBX_CONFIGFREQUENCY=300
ZBX_CACHESIZE=256M
ZBX_HISTORYINDEXCACHESIZE=20M
ZBX_HISTORYCACHESIZE=40M
ZBX_STARTPINGERS=15