DBHost=localhost
DBName=zabbix
DBUser=zabbix
DBPassword=zabbix_db_password
StartIPMIPollers=3
StartPingers=20
StartDiscoverers=20
StartAlerters=10
LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/var/run/zabbix/zabbix_server.pid
SocketDir=/var/run/zabbix
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
CacheSize=16M
Timeout=10
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
LogSlowQueries=3000